[submodule "matlab_imresize"]
	path = matlab_imresize
	url = https://github.com/vik748/matlab_imresize.git
[submodule "external_packages/cmtpy"]
	path = external_packages/cmtpy
	url = https://github.com/vik748/cmtpy.git
